@charset "utf-8";
/* CSS Document */
@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700);


body {
	background: #333 url(../images/words-bg.png) no-repeat top center fixed ;
	background-size: cover;
	overflow-x:hidden;
	font-family:'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
	color:#333;
}

.clr {clear:both}

.sidebar {
	width:230px; height:700px;
	position:fixed; left:0; top:0;
	background:#fff; overflow:hidden;
	-webkit-box-shadow: 10px 0px 10px 0 rgba(0,0,0,.4);
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
	z-index:999; text-align:center;
}

.logo_cont {
	text-align:center;
	padding:35px 15px;
}

.main_nav {
}
.main_nav li {
	border-top:1px dashed #ccc;
	position:relative;
}
.main_nav li:last-child {
	border-bottom:1px dashed #ccc;
}
.main_nav li a{
	padding:15px; display:block; position:relative;
	text-align:center; text-transform:uppercase;
	text-decoration:none; color:#666666; font-size:16px;
	z-index:500;
	-webkit-transition: all 0.5s ease-in;  
	-moz-transition: all 0.5s ease-in;  
	-o-transition: all 0.5s ease-in;  
	  transition: all 0.5s ease-in;
}
.main_nav li.active a{
	color:#fff; font-size:16px; font-weight:700;
	-webkit-transition: all 0.5s ease-out;  
	-moz-transition: all 0.5s ease-out;  
	-o-transition: all 0.5s ease-out;  
	  transition: all 0.5s ease-out;
}
.main_nav li span{
	position: absolute; left:0; top:-1px;
	height:48px; width:100%;
	transform: translate(220px,0);
	-ms-transform: translate(220px,0); /* IE 9 */
	-webkit-transform: translate(220px,0); /* Safari and Chrome */
	-webkit-transition: all 0.5s ease-in;  
	-moz-transition: all 0.5s ease-in;  
	-o-transition: all 0.5s ease-in;  
	  transition: all 0.5s ease-in;
}
.main_nav li.active span{
	transform: translate(0,0); 
	-ms-transform: translate(0,0); /* IE 9 */
	-webkit-transform: translate(0,0); /* Safari and Chrome */
	-webkit-transition: all 0.5s ease-out;  
	-moz-transition: all 0.5s ease-out;  
	-o-transition: all 0.5s ease-out;  
	  transition: all 0.5s ease-out;
}

.sidefoot {
	position:absolute; 
	bottom:10px; width:100%;
	text-align:center
}



.content_wrap {
	margin-left:230px;
}

.about, .works {
	min-height:700px;
	backface-visibility: visible;
	transform-origin: 0% 50% 0px;
	-webkit-transform-origin: 0% 50% 0px;
	transform: perspective(1000px) rotateY(50deg);
	-ms-transform: perspective(1000px) rotateY(50deg);
	-webkit-transform: perspective(1000px) rotateY(50deg);
	-webkit-transition: all 0.5s ease-out;  
	-moz-transition: all 0.5s ease-out;  
	-o-transition: all 0.5s ease-out;  
	  transition: all 0.5s ease-out;
}
.about.active, .works.active {
	transform: perspective(1000px) rotateY(0deg);
	-ms-transform: perspective(1000px) rotateY(0deg);
	-webkit-transform: perspective(1000px) rotateY(0deg);
	-webkit-transition: all 0.5s ease-in;  
	-moz-transition: all 0.5s ease-in;  
	-o-transition: all 0.5s ease-in;  
	  transition: all 0.5s ease-in;
}
.about, .about_btn span {
	background:#ffcc33;
}
.works, .works_btn span {
	background:#1ed87d;
}


.title {
	padding:50px 50px 30px 80px;
	text-transform:uppercase;
}
h1{
	font-weight:700; font-size:48px; color:#fff;
}
h2, h3{
	font-weight:400;font-size:30px;
}
h3.big{
	font-weight:700; font-size:40px; color:#fff;
}

/*  About */

.intro {
	padding:180px 50px 50px 80px;
	text-transform:uppercase;
	 
}
.intro_desc {
	padding:0 50px 50px 80px; max-width:685px;
	line-height:24px;
}
.scroll_info {
	width:108px; height:108px;
	position:absolute; right:50px; bottom:50px;
	background:url(../images/scroll-msg.png) no-repeat;
	-moz-transition:all .5s  ease-in;
	-webkit-transition:all .5s  ease-in;
	transition:all .5s  ease-in;
}
.scroll_info.hide{
	-moz-transform:translate(500px,0); 
	-webkit-transform:translate(500px,0); 
	transform:translate(500px,0); 
	opacity:0;
    
}
/*  works  */
.works_list { padding-bottom:50px; font-size:0 }
.works_list .item{
	display:inline-block; width:25%; min-width:200px;
}
.works_list .item img{
	width:100%;
}



/* work-details styles of work page */
.work_list .isotope{
	overflow:hidden!important;	
	
}

.work_details{
	width:100%;
	max-width:100%;
	background-color:rgba(0,0,0,0.8);	
	z-index: 1053!important;
	position: absolute;
	overflow: hidden;
	left: 0px;
	bottom: 0px;
	
	height:0px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.auto_height{
height:140px;

}


.work_details h4{
	font-size:16px;
	padding:20px 0 0 20px;;
	color:#FFF;	
}

.work_details p{
	font-size:14px;	
	padding:15px 0 15px 20px;
	color:#FFF;
}

.work_details > div > a{
	font-size:14px;
	text-decoration:none!important;
	padding-left:20px;
	color:#FFF;
	
}

.preview{
	width:30px;
	height:30px;
	background-image:url(../images/works/preview.png);
	display:inline-block;
	vertical-align:	middle;	
}

.external_link{
	width:30px;
	height:30px;
	background-image:url(../images/works/external_link.png);
	display:inline-block;
	vertical-align:	middle;	
}

.detail_foot > a{
	display:inline-block;
}

.preview_text{
	vertical-align:	middle;	
	font-size:	18px;
	padding-left:10px;
}

.outline{
	outline:5px solid #F36;	
	
}

@media only screen 
and (min-width : 320px) 
and (max-width : 640px) {	
.sidebar{
	width:100%;
	height:auto;

	}
.main_nav li span{
	transform: translate(95%,0);
	-ms-transform: translate(95%,0); /* IE 9 */
	-webkit-transform: translate(95%,0); /* Safari and Chrome */	
	 -webkit-transition: all 0.5s ease-in;  
	-moz-transition: all 0.5s ease-in;  
	-o-transition: all 0.5s ease-in;  
	  transition: all 0.5s ease-in;
}


.content_wrap {
margin-left: 0px;
}
.logo_cont {
	padding:10px 5px 10px 10px;	
}

.logo_cont > h2{
	display:inline-block;
	float:left;	
}

.menu_button{
	display:inline-block;
	background-image:url(../images/menu-button-sm.png);
	z-index:1050;
	float:right;
	width:40px;
	height:40px;
	padding-right:4px;
	
}

.about, .works {
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;

}

.about.active, .works.active {
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;

}


.clearfix:before,
.clearfix:after {
	clear:both;	
}

.main_nav{
	clear:both;	
	
}
.sidefoot {
padding:10px 0;
position:relative;
bottom:0px;	
}

.logo_cont button{
	border:none;
	padding:0px;
	background-color:#ffffff;	
	display:inline-block;
	float:right;
	cursor:pointer;
	margin-right:10px;
}

.intro{
	padding:120px 40px 40px 25px;	
}

.intro h1{
	font-size:40px;	
}

h3.big {
	font-size:35px;	
}

.service_list h4 {
	font-size:35px;	
}
.intro_desc{
	padding:0 50px 50px 25px;	
}

.works_list .item img {
	width:100%;	
}

.forminner {
width:100%	
}

input[type='text'], input[type='email'] {
width:100%	
}

textarea {
width:100%;	
}

.employees {
padding: 0 20px 20px 50px;
}

.cont_form {
padding: 0 20px 0px 20px;
}

.location {
padding: 0 20px 30px 20px;
}

.location address {
width:100%;
box-sizing: border-box;	
}

.map {
width:100%;	
}

.title{
	padding:50px 50px 30px 25px;		
}
.service_list{
	padding:0px 20px 30px 25px;	
}
	
.collapse{
	height:0px;
	overflow:hidden;
}

.sidefoot_collapse{
	height:0;
	padding:0;
}

}

